<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  
  <body>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
    <style>
      body {
        background-color: #76A5B6;
        font-family: 'Major Mono Display', cursive; 
        font-size: 70px; 
        color: #252A32;
        }
      button {
        border-radius: 10px;
	      border: 2px solid #e7e7e7;
        color: black;
        padding: 10px 50px;
        background-color: #D2D2D2;
        font-family: 'Major Mono Display', cursive, bold;
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        }
      p {
        margin-bottom: 60px;
        font-size: 25px;
        color: #FFFF;
      }
    </style>
    <div align="center">

  <h1>MAKERsBNB</h1>

  <p>Your getaway is only a click away</p>

  <form action="/signup" method="get">
    <button class="button">sign up</button>
  </form>
  
  <form action="/signin" method="get">
    <button class="button">sign in</button>
  </form>

  </body>
</html>
